.btn-login {
  display: flex;
  padding: 10px 239px;
  align-items: flex-start;
  gap: 10px;

  color: var(--withe, #FFF);
  font-family: "IRANSansXFaNum", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background: #FF0A00;
  border-radius: 8px;
  transition: .5s;
}

.btn-login:hover {
  opacity: 5;
}

.btn-login:active {
  opacity: 0.7;
}